@media print {

p {
	color: rgb(60, 60, 60);
	font-family: Helvetica, Arial, sans-serif;
	margin: 0;
}

a {
	color: rgb(48, 157, 207);
	font-family: Helvetica, Arial, sans-serif;
	text-decoration: none;
}

.clear {
	height: 0;
	font-size: 1px;
	margin: 0;
	padding: 0;
	line-height: 0;
	clear: both;
}

.grey {
	color: rgb(150, 150, 150);
}

.green {
	color: rgb(97, 196, 25);
}

.red {
	color: rgb(255, 26, 0);
}

.pagination {
	display: none;
}

}