<div class="pageContent">
	<div class="index">
		<p class="pageHeader"><%= @title %></p>
		<% @secrets.each do |secret| %>
			<div class="request" id="secret_<%= secret.id %>">
				<div class="requestUser">
					<%= link_to secret.name, edit_secret_path(secret) %>
				</div>
				<div class="requestInfo">
					<div>
						<p class="requestLabel">Code:</p>
						<p class="requestData"><%= secret.code %></p>
						<div class="clear"></div>
					</div>
				</div>
				<div class="clear"></div>
			</div>
		<% end %>
	</div>
</div>