.requestNew {
	border: 1px solid rgb(200, 200, 200);
	margin: 20px auto;
	padding: 40px;
	width: 700px;
}

.requestNewHead {
	height: 100px;
	margin: 0 0 40px 0;
}

.requestNewHead img {
	float: left;
	max-height: 100px;
}

.requestNewHead div {
	float: right;
	text-align: right;
}

.requestNewHead .requestNewHeader {
	font-size: 28px;
	margin: 0 0 20px 0;
}

.requestNewHead .requestNewDate {
	font-size: 14px;
}

/* Form */
.requestCheckbox {
	float: right;
	text-align: center;
	width: 100px;
}

.requestCheckbox div {
	margin: 0 0 20px 0;
}

.requestCheckbox p {
	font-size: 14px;
	margin: 0 0 10px 0;
}

.requestCheckbox input {
	margin: 0;
}

.requestFormFields {
	float: left;
}

.requestForm .field {
	margin: 0 0 20px 0;
}

.requestForm .field p {
	font-size: 14px;
	margin: 0 0 10px 0;
}

.requestForm .field input {
	border: 1px solid rgb(200, 200, 200);
	color: rgb(75, 75, 75);
	font-family: Helvetica, Arial, sans-serif;
	font-size: 14px;
	padding: 10px;
	margin: 0;
	width: 400px;
}

.requestForm .requestFormDateRequested input {
	width: 188px;
}

.requestFormDateRequested {
	color: rgb(60, 60, 60);
	font-family: Helvetica, Arial, sans-serif;
	font-size: 14px;
}

.requestForm .field input:hover {
	border: 1px solid rgb(150, 150, 150);
}

.requestForm .field input:active, .requestForm .field input:focus {
	border: 1px solid rgb(100, 100, 100);
	outline: none;
}

.requestForm textarea {
	border: 1px solid rgb(200, 200, 200);
	color: rgb(75, 75, 75);
	font-family: Helvetica, Arial, sans-serif;
	font-size: 14px;
	height: 70px;
	padding: 10px;
	margin: 0;
	resize: none;
	width: 678px;
}

.requestFormComments {
	border: 1px solid rgb(200, 200, 200);
	padding: 10px;
	width: 678px;
}

.requestForm textarea:hover {
	border: 1px solid rgb(150, 150, 150);
}

.requestForm textarea:active, .requestForm textarea:focus {
	border: 1px solid rgb(100, 100, 100);
	outline: none;
}

.requestForm select {
	border: 1px solid rgb(200, 200, 200);
	color: rgb(75, 75, 75);
	font-family: Helvetica, Arial, sans-serif;
	font-size: 14px;
	padding: 10px;
	margin: 0;
}

.requestForm .field .requestFormPurpose {
	width: 139px;
}

.totalTime .field {
	float: left;
	width: 150px;
}

.totalTime .field input {
	text-align: center;
	width: 50px;
}

.requestForm .action {
	float: right;
	padding: 20px 0 0 0;
}

.requestForm .action input {
	background: rgb(99, 182, 219);
	border: 0px solid rgb(0, 0, 0);
	color: rgb(255, 255, 255);
	font-family: Helvetica, Arial, sans-serif;
	font-size: 16px;
	padding: 10px 20px;
	margin: 0;
}

.requestForm .action input:hover {
	cursor: pointer;
	background: rgb(109, 192, 229);
}

.requestForm .action input:focus {
	background: rgb(109, 192, 229);
}

.requestForm .action input:active {
	background: rgb(89, 172, 209);
}

.requestForm .action input:focus, .requestForm .action input:active {
	outline: none;
}

.requestForm .action a {
	background: rgb(190, 190, 190);
	border: 0px solid rgb(0, 0, 0);
	color: rgb(75, 75, 75);
	font-family: Helvetica, Arial, sans-serif;
	font-size: 16px;
	padding: 10px 20px;
	margin: 0 0 0 10px;
}

.requestForm .action a:hover {
	background: rgb(195, 195, 195);
}

.requestForm select {
	border: 1px solid rgb(200, 200, 200);
	color: rgb(75, 75, 75);
	font-family: Helvetica, Arial, sans-serif;
	font-size: 14px;
	padding: 10px;
	margin: 0;
}

/* Error explanation */
.requestFormDateRequested .field_with_errors {
	width: 210px;
}