/* User show */
.userShowName {
	color: rgb(75, 75, 75);
	font-size: 42px;
	padding: 20px 0 10px 0;
}

.userShowData {
	font-size: 15px;
	padding: 0 0 0 10px;
}

.userShowData div {
	margin: 0 0 5px 0;
}

/* User requests and events */
.userNav {
	background: rgb(245, 245, 245);
	border-bottom: 1px solid rgb(200, 200, 200);
}

.userNav ul {
	list-style-type: none;
	height: 36px;
	margin: 0;
	padding: 0;
	text-align: center;
}

.userNav ul li {
	display: inline-block;
}

.userNav ul li a {
	color: rgb(150, 150, 150);
	display: block;
	font-size: 13px;
	padding: 10px 40px;
}

.userNav ul li a:hover {
	color: rgb(60, 60, 60);
}

.viewTime {
	font-size: 14px;
}

.overlay {
	background: rgba(0, 0, 0, 0.7);
	display: none;
	height: 100%;
	overflow-y: auto;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 200;
}

.userPhoto {
	left: 0;
	margin: 0 auto;
	position: absolute;
	right: 0;
	top: 50px;
	max-width: 80%;
}

.closeOverlay {
	padding: 20px;
	position: fixed;
	right: 20px;
	top: 20px;
}

.noOverflow {
	overflow: hidden;
}