.userShowHeader {
	float: left;
}

.userShowPhoto {
	float: left;
	position: relative;
	left: 20px;
	top: 20px;
}

.userShowPhoto a {
	display: block;
	padding: 10px;
}

.viewTime {
	font-size: 14px;
}

.overlay {
	background: rgba(0, 0, 0, 0.7);
	display: none;
	height: 100%;
	overflow-y: scroll;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 200;
}

.userPhoto {
	left: 0;
	margin: 0 auto;
	position: absolute;
	right: 0;
	top: 50px;
	max-width: 80%;
}

.closeOverlay {
	padding: 20px;
	position: fixed;
	right: 20px;
	top: 20px;
}

.noOverflow {
	overflow: hidden;
}